* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainBlack: #222;
    --mainGreen: #82b348;
    --mainWhite: #fff;
    --mainGrey: #ececec;
}

body {
    background: var(--mainGrey);
    color: var(--mainBlack);
    font-family: "Open Sans", sans-serif;
}